@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'roboto',sans-serif;
}

/* botão */

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: blueviolet;
    color: #2b134b;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover{
    cursor: pointer;
    background: rgb(71, 18, 121);
    color:#eee;
}

/*headline */

.headline{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/*navbar */

#navbar{
    width: 100%;
    background: #201b2c;
    color: #eee;
    height: 9rem;
    position: fixed;

    opacity: 0.9;
}

#navbar-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
}

.nav-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.nav-items li {
    padding: 10px;
}

/*showcase*/

#showcase{
    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #eee;
    background: url('../src/img/imagem_livro.jpg') no-repeat center center/cover;

    /*overlay */

    background-color: rgba(0,0,0,0.5);
    background-blend-mode:color ;
}

#showcase-container{
    text-align: center;
}

#showcase-container h2{
    font-size: 2.5rem
}

#showcase-container p{
    font-size: 1.2rem;
    padding: 10px 0;
}

/* parceiros */

#parceiros{
    width: 100%;

    background: #eee;
    color: #111;
    padding: 50px;
}

#parceiros-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 15px;
}

.parceiro{
    display: inline-block;
    width: 25%;

}

/*footer*/

#footer{
    background: #2b134b;
    color: #eee;
    padding: 30px;
    align-items: center;
    text-align: center;
}

/*responsive*/

@media screen and (max-width: 768px) {
    #navbar {
        height: 180px;
    }
    
    #navbar-container {
        flex-direction: column;
        padding: 20px 0;
    }
    
    #nav-items {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    #nav-items li:nth-child(2) {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
    
    /* Showcase */
    #showcase-container {
        padding: 40px;
    }
    
    /* Clients */
    #parceiros-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .parceiro {
        width: 50%;
    }
    
}
