<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Nuvem do saber</title>
</head>
<body>
        <nav id="navbar"> 
            <div id="navbar-container">
                <h1 class="logo" href="/">Nuvem do saber</h1>
                <ul class="nav-items">
                    <li><a href="#showcase">Inicio</a></li>
                {% if session['session_adm'] == True: %}
                    <li><a href="{{url_for('painel')}}">Painel</a></li>
                    <li><a href="{{url_for('work')}}">Trabalhos</a></li>
                    <li><a href="{{url_for('livros')}}">Livros</a></li>
                    <li><a href="/logout">Sair</a></li>
                {% elif session['session_user'] == True %}
                    <li><a href="{{url_for('work')}}">Trabalhos</a></li>
                    <li><a href="{{url_for('livros')}}">Livros</a></li>
                    <li><a href="/logout">Sair</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>

    <header id="showcase">
        <div id="showcase-container">
            {% if session['session_adm'] == True: %}
                <h2>{{username}}</h2>
                <p>Bem vindo!!</p>
                <a href="/painel" class="btn">Painel</a>
            {%elif session['session_user'] == True%}
                <h2>{{session['nome']}}</h2>
                <p>Bem vindo!!</p>
                <a href="{{url_for('work')}}" class="btn">Trabalhos</a>
                <a href="{{url_for('livros')}}" class="btn">Livros</a>
            {% else %} 
                <h2>Nuvem do saber</h2>
                <p>Visualize Trabalhos e Livros Didaticos</p>
                <a href="/login" class="btn">Entrar</a>
            {% endif %}
        </div>
    </header>

    <section id="parceiros">
        <h2 class="headline">Parceiros</h2>

        <div id="parceiros-container">
            <img src="../static/src/img/omegalogo.png" alt="Logo do Ômega" class="parceiro">
        </div>

    </section>

    <footer id="footer">
        <p> copyright 2022 - Todos os direitos reservados</p>
        <p> Feito por <a href="https://github.com/BREK1N"><strong>Lucas Ferreira</strong></a>.</p>
    </footer>
    
    
</body>
</html>