<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>E-jobs</title>
</head>
<body>
        <nav id="navbar"> 
            <div id="navbar-container">
                <h1 class="logo" href="/">E-Jobs</h1>
                <ul class="nav-items">
                    <li><a href="#showcase">Inicio</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>

    <header id="showcase">
        <div id="showcase-container">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quisquam?</p>
            <a href="/login" class="btn">Entrar</a>
        </div>
    </header>

    <section id="parceiros">
        <h2 class="headline">Parceiros</h2>

        <div id="parceiros-container">
            <img src="" alt="Logo do Ômega" class="parceiro">
            <img src="" alt="Logo da Plural" class="parceiro">
        </div>

    </section>

    <footer id="footer">
        <p> copyright 2022 - Todos od direitos reservados</p>
        <p> Feito por <a href="https://github.com/BREK1N"><strong>Lucas Ferreira</strong></a>.</p>
    </footer>
    
    
</body>
</html>