<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title>Login | E-Jobs</title>
</head>
<body>
<form action="{{url_for('login')}}" method="post" autocomplete="off">
    <div class="main-login">
        <div class="left-login">
            <h1>Bem vindo !! <br> E-jobs veja Trabalhos e Livros didaticos</h1>
            <img src="../static/src/img/audiobook-animate.svg" alt="" class="img-book">
        </div>
        <div class="right-login">
                <div class="card-login">
                    <h1>LOGIN</h1>
                    
                    <div class="textfield">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="username" id="username" placeholder="Usuário">
                    </div>

                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="password" id="password" placeholder="Senha">
                    </div>
                        <button class="btn-login"><a href="/login">Login</a></button>
                        <h2>{{msg}}</h2>
                
                </div>
        </div>
    </div>
</form> 
   
</body>
</html>