<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/painel.css')}}">
    <title>Painel | E-Jobs</title>
</head>
<body>
    <div id="painel">
        <div id="menu-left">
            <div id="logo">E-Jobs</div>

            <div id="itens">
                <ul>
                    <li><a href="#">Painel</a></li>                     
                    <li><a href="#">Usuários</a></li>
                    <li><a href="#">Cadastra</a></li>
                    <li><a href="#">Livros</a></li>
                    <li><a href="#">Trabalhos</a></li>
                    <li><a href="/logout">Sair</a></li>
                </ul>
            </div>


        </div>

        <div id ='menu-right'>
            <div id="infos">
                <div class="info">
                    <h2>Livros</h2>
                    <p>0</p>
                </div>

                <div class="info-main">
                    <h2>Usuários</h2>
                    <p>0</p>
                    
                </div>

                <div class="info">
                    <h2>Trabalhos</h2>
                    <p>0</p>
                    
                </div>

            </div>

        </div>


    </div>
</body>
</html>