<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
    <title>Cadastro | E-Jobs</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="../static/src/img/register-animate.svg" alt="">
        </div>
        <div class="form">
            <form action="{{ url_for('upload_book')}}" method="POST" enctype="multipart/form-data">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro de Livros</h1>
                        <h1>{{msg}}</h1>
                    </div>
                    <div class="back-button">
                        <button><a href="{{url_for('painel')}}">Voltar</a></button>
                    </div>
                </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="firstname">Nome do Livro</label>
                            <input type="text" name="nome_book" id="username" placeholder="Digite seu primeiro Nome" required>
                        </div>
                        <div class="input-box">
                            <label for="lastname">ISBN</label>
                            <input type="text" name="ISBN" id="nome" placeholder="Digite seu Sobrenome" required>
                        </div>
                        <div class="input-box">
                            <label for="email">Upload</label>
                            <input type="file" name="file" id="email" placeholder="Digite seu email" required>
                        </div>
                        <div class="input-box">
                            <h5>Genero 1</h5>
                            <select name="genero1" id="genero1">
                                <option value="genero2">----None----</option>
                                <option value="Ação">Ação</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Romance">Romance</option>
                                <option value="Comédia">Comédia</option>
                                <option value="Dráma">Dráma</option>
                                <option value="Terror">Terror</option>
                                <option value="Fic. Cientifica">Fic. Cientifica</option>
                                <option value="Critica">Critica</option>
                            </select>
                            <h5>Genero 2</h5>
                            <select name="genero2" id="genero2">
                                <option value="genero2">----None----</option>
                                <option value="Ação">Ação</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Romance">Romance</option>
                                <option value="Comédia">Comédia</option>
                                <option value="Dráma">Dráma</option>
                                <option value="Terror">Terror</option>
                                <option value="Fic. Cientifica">Fic. Cientifica</option>
                                <option value="Critica">Critica</option>
                            </select>
                            <h5>Genero 3</h5>
                            <select name="genero3" id="genero3">
                                <option value="genero2">----None----</option>
                                <option value="Ação">Ação</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Romance">Romance</option>
                                <option value="Comédia">Comédia</option>
                                <option value="Dráma">Dráma</option>
                                <option value="Terror">Terror</option>
                                <option value="Fic. Cientifica">Fic. Cientifica</option>
                                <option value="Critica">Critica</option>
                            </select>
                            
                        

                    </div>



                <div class="continue-button">
                     <button ><input type="submit" value="submit">Upload</button>
                </div>         
            </form>
        </div>
    </div>
</body>
</html>