<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
    <title>Cadastro | E-Jobs</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="../static/src/img/register-animate.svg" alt="">
        </div>
        <div class="form">
            <form action="{{ url_for('upload_book2')}}" method="POST" enctype="multipart/form-data">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro de Livros</h1>
                        <h1>{{msg}}</h1>
                    </div>
                    <div class="back-button">
                        <button><a href="{{url_for('painel')}}">Voltar</a></button>
                    </div>
                </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label>Nome do Arquivo e o nome do Livro( verifique o nome antes)</label>
                            <input type="file" name="file" id="email" placeholder="Digite seu email" >
                        </div>
                    </div>



                <div class="continue-button">
                     <button ><input type="submit" value="Upload"></button>
                </div>         
            </form>
        </div>
    </div>
</body>
</html>