<!doctype html>
<html lang="pt-br">
  <head>
  	<title>Table 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/painel_users.css')}}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Usuários | Alunos</h2>
				</div>
                <form action="{{url_for('users')}}" method="POST">
                    <input type="text" name="busca" id="search-bar">
                    <button type="submit" class="btn">Enviar</button>
                </form>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>ID</th>
						      <th>Username</th>
						      <th>Turma</th>
						      <th>Email</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
                          {% for linha in linhas %}
                            <tbody>
                                {% if busca == linha['id'] or busca in linha['username'] or busca in linha['turma'] %}
                                    <tr>  
                                        <th id="{{linha['id']}}">{{linha['id']}}</th>
                                        <th id="{{linha['username']}}">{{linha['username']}}</th>
                                        <th>{{linha['nome']}}</th>
                                        <th id="{{linha['turma']}}">{{linha['turma']}}</th>
                                        <th>{{linha['email']}}</th>
                                        
                                    </tr>
                                {% endif %}
                          </tbody>          
                        {% endfor %}
						  
						  
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

